<!-- 
/**
 * Utsikt - An email program that connects Microsoft Outlook and Atlassian Jira.
 * 
 * Copyright (C) 2020 Daniel Holm
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *  
 * This program is based on scaffolding by Microsoft Corporation.  
 * Copyright (c) Microsoft Corporation
 * Licensed under the MIT License.
 */
-->

<h1>Emails <span class="badge badge-pill badge-primary">{{unreadCount}}</span></h1>
<div id="messages">
  {{#each messages}}
    <div class="modal fade" id="modal-{{this.id}}" tabindex="-1" aria-labelledby="modal-label-{{this.id}}" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-label-{{this.id}}">{{this.subject}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-header">
            <div>
              <p>Sender: {{this.sender.emailAddress.name}}, {{this.sender.emailAddress.address}} </p>
              <p>Received: {{swedishDateTime this.receivedDateTime}}</p>
            </div>
            <div>
              {{#if this.issueKeys.length}}
                Visit issue: 
                <ul class="horizontal-links" id="issue-links-{{this.id}}">
                  {{#each this.issueKeys}}
                    <li class="horizontal-link">
                      <a href="{{../../jiraBaseUri}}{{this}}" target="_blank">{{this}}</a>
                    </li>
                  {{/each}}
                  <br>
                </ul>
              {{/if}}
              <a class="open-issue" href="/api/email/{{this.id}}/issue" 
                    data-summary="{{this.subject}}" 
                    data-description="{{this.body.content}}"
                    data-messageId="{{this.id}}">Create issue</a>
            </div>
          </div>
          <div class="modal-body">
            <iframe srcdoc="{{this.body.content}}" frameborder="0" width="100%" height="100%"></iframe>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <div class="card {{#unless this.isRead}}border-primary{{/unless}}" data-message-id="{{this.id}}" data-toggle="modal" data-target="#modal-{{this.id}}">
      <div class="card-body">
        <h5 class="card-title">
          {{this.subject}}
        </h5>
        <p>{{this.sender.emailAddress.address}} - {{swedishDateTime this.receivedDateTime}}</p>
        <p class="card-text">
          {{this.bodyPreview}}
        </p>
      </div>
    </div>
  {{/each}}

  {{#unless hidePagination}}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {{#unless isFirstPage}}
          <li class="page-item"><a class="page-link" href="?page={{subtraction currentPage}}">Previous</a></li>
        {{/unless}}
        {{#times pageCount}}
          {{#ifEquals ../currentPage this}}
            <li class="page-item active"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
          {{else}}
            <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
          {{/ifEquals}}
        {{/times}}
        {{#unless isLastPage}}
          <li class="page-item"><a class="page-link" href="?page={{addition currentPage}}">Next</a></li>
        {{/unless}}
      </ul>
    </nav>
  {{/unless}}

</div>
<script src="/js/email.js"></script>
